
<header class="header flex">
     <div class="logo">
          <img src="../img_src/lamborghini-car-logo.jpg" alt="">
     </div>

<nav class="navbar flex">
<ul class="links_bar flex">
     <li class="link">

          <a href="/home" class="<%= path === '/home' ? 'active' : '' %>">Home</a>
     </li>
   
     <li class="link">

          <a href="/admin/add-product" class="<%= path === '/admin/add-product' ? 'active' : ''%>" >Add Product</a>
     </li>
     <li class="link">
     
          <a href="/" class="<%= path === '/shop' ? 'active' : ''%>">Shop</a>
     </li>
     <li class="link">
     
          <a href="/products" class="<%= path === '/products' ? 'active' : ''%>">Products</a>
     </li>
     <li class="link">
     
          <a href="/cart" class="<%= path === '/cart' ? 'active' : ''%>">Cart</a>
     </li>
     <li class="link">

          <a href="/admin/products" class="<%= path === '/admin/products' ? 'active' : ''%>" >Admin Products</a>
     </li>
</ul>
</nav>
</header>