
<header class="header flex">
     <div class="logo">
          <img src="/img_src/lamborghini-car-logo.jpg" alt="">
     </div>

<nav class="navbar flex">
<ul class="links_bar flex">
     <li class="link flex">

          <a href="/" class="<%= path === '/home' ? 'active' : '' %>">Home</a>
     </li>
   
     <li class="link flex">
          
          <a href="/products" class="<%= path === '/products' ? 'active' : ''%>">Products</a>
     </li>
     <% if (isAuthCorrect) { %> 
     <li class="link flex">

          <a href="/admin/add-product" class="<%= path === '/admin/add-product' ? 'active' : ''%>" >Add Product</a>
     </li>
     <li class="link flex">
     
          <a href="/shop/product_list" class="<%= path === '/shop' ? 'active' : ''%>">Shop</a>
     </li>
     <li class="link flex">
     
          <a href="/cart" class="<%= path === '/cart' ? 'active' : ''%>">Cart</a>
     </li>
     <li class="link flex">
     
          <a href="/orders" class="<%= path === '/orders' ? 'active' : ''%>">Orders</a>
     </li>
     <li class="link flex">

          <a href="/admin/products" class="<%= path === '/admin/products' ? 'active' : ''%>" >Admin</a>
     </li>
         <li class="link flex">
               <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
           <button type="submit" class="logout_btn">Logout</button>
               </form>
          </li>
     
     <% }else{ %>
     <li class="link flex">
          <a href="/login" class="<%= path === '/login' ? 'active' : ''%>">Login</a>
     </li>
     <li class="link flex">
          <a href="/signup" class="<%= path === '/signup' ? 'active' : '' %>">Signup</a>
     </li>
      
<% } %>
</ul>
</nav>
</header>