<%- include('../layouts/start.ejs') %>
     <!-- <link rel="stylesheet" href="/Css/addProduct.css"> -->
      <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <script defer src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <script defer src="../../module/animations.js"></script>
      <link rel="stylesheet" href="/Css/responsive.css">
<script src="/js/main.js" defer></script>
</head>

<body>
     <div class="Container">
          <%- include('../layouts/navigation.ejs') %>
           <main class="flex_1" style="flex-direction: column;">
           <% if(prods.length > 0) { %>
               <ul class="card_continer">

                    <% prods.forEach(prod=> { %>
                           <% if (prod.productId) { %>
                         <li class="card_item">
                       
                              <div class="card custom-card">
                                        <img src="<%= prod.productId.imageUrl %>" class="card-img-top" alt="<%= prod.productId.title %>">

                                        <div class="card-body text-center">
                                        <h5 class="card-title"><%= prod.productId.title %></h5>
                                        <p class="card-text desc"><%= prod.productId.description %></p>
                                        <p class="card-text small-text">
                                             You have <%= prod.quantity %> in your cart
                                        </p>

                                        <div class="flex">
                                             <form action="/cart-delete-item" method="POST" class="flex_1">
                                             <input type="hidden" value="<%= prod.productId._id %>" name="productId">
                                             <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                             <button class="btn custom-btn delete-btn" type="submit">
                                             <span class="btn-text">Delete</span>
                                             <span class="spinner hidden"></span>
                                             </button>
                                             </form>

                                             <form action="/order_Item" method="POST" class="flex_1">
                                             <input type="hidden" value="<%= prod.productId._id %>" name="productId">
                                             <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                             <button class="btn custom-btn order-btn" type="submit">
                                             <span class="btn-text">Order</span>
                                             <span class="spinner hidden"></span>
                                             </button>
                                             </form>
                                        </div>
                                        </div>
                              </div>
                              </li>
                              <% } %>
                              <% }) %>
                         </ul>
          <% } else { %>
          <h1>No Product Yet!</h1>
           <span style="font-size:0.9rem; display: block;">Start by adding your first product</span>
        <% } %>
        
</div>
          <%- include('../layouts/end.ejs') %>