<%- include('../layouts/start.ejs') %>
<link rel="stylesheet" href="/Css/main.css">
<link rel="stylesheet" href="/Css/responsive.css">
<script src="/js/main.js" defer></script>
</head>

<body>
<div class="container">
<%- include('../layouts/navigation.ejs') %>

<main class="flex" style="flex-direction: column; gap: 20px;">
<div class="checkout-wrapper">
<h1 class="checkout-title">Checkout</h1>

<!--Product -->
<div class="checkout-card">
  <div class="checkout-summary">
    <% let total = 0; %>

    <% prods.forEach(p => { 
      total += p.productId.price * p.quantity;
    }) %>

    <p>Total Items: <%= prods.length %></p>
    <h2>Total Price: $<%= total.toFixed(2) %></h2>
  </div>
</div>

<form action="/create-order" method="POST" class="checkout-form">
  
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">

  <label>Name</label>
  <input type="text" name="name" required>

  <label>Address</label>
  <input type="text" name="address" required>

  <label>Payment Method</label>
  <select name="payment" style="background: #3f3e3e85 !important;">
    <option value="cod" >Cash on Delivery</option>
    <option value="card">Card </option>
  </select>

  <button class="btn main_btn">Place Order</button>
</form>
</div>
</main>

 <%- include('../layouts/end.ejs') %>