<%- include('../layouts/start.ejs') %>
     <!-- <link rel="stylesheet" href="/Css/addProduct.css"> -->
</head>

<body>
     <div class="container">
          <%- include('../layouts/navigation.ejs') %>
     <main class="flex">
        <h1><%= product.title %></h1>
            <hr>
            <div>
                <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <h2><%= product.price %></h2>
            <p><%= product.description %></p>
             <form action="/add-to-cart" method="post">
                              <input type="hidden" name="productId" value="<%= product._id%>">
                              <button class="btn" >Add to Cart</button>
             </form>
          <%- include('../layouts/end.ejs') %>